{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <legend>Job Postings</legend>
            <div id="job-posts">
                {{#each jobs}}
                <div class="job-post-card card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h4 class="text-white">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{description}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{time}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{benefits}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{salary}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{location}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{experience}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

</div>