{{> navbar user}}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Job Postings</h1>
            <p>Click <a href="/postlist">here</a> to view your job postings</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">

            <div id="job-posts">
                {{#each jobs}}
                <div class="job-post-card card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h4 class="text-white">{{title}}</h4>
                        <br>
                        <p class="card-text extra-margin">{{description}}</p>
                        <p class="card-text extra-margin">{{time}}</p>
                        <p class="card-text extra-margin">{{benefits}}</p>
                        <p class="card-text extra-margin">{{salary}}</p>
                        <p class="card-text extra-margin">{{location}}</p>
                        <p class="card-text extra-margin">{{experience}}</p>
                    
                    <div>
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
                {{/each}}

                
            </div>
        </div>
</div>

<script>
$(document).ready(function () {
    const apply = $("form.update-profile");
}
updateProfile.on("submit", function (event) {
            event.preventDefault();

</script>
