{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">Hello, {{user.email}}!</h4>
            </div>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="col-md">
            <legend>Job Postings</legend>
            <div id="forum-posts">
                {{#each posts}}
                <div class="job-post-card card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h4 class="text-white">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{description}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{time}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{benefits}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{salary}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{location}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{experience}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div> --}}


</div>
<div class="container">
        <div class="row">
            <div class="col-md">
                <form class="forum-post">
                    <fieldset>
                        <legend>Create A Job Posting</legend>
                        <p>
                            Fill out the form below to create your job posting. It will then be available for anyone on
                            the
                            site.</p>
                        </p>
                        <div class="form-group">
                            <label for="title-input">Job Title</label>
                            <input type="text" class="form-control" id="title-input" aria-describedby="postHelp"
                                placeholder="Enter the job title">
                        </div>
                        <div class="form-group">
                            <label for="job-description">Job Description</label>
                            <textarea class="form-control" id="job-description" name="description"
                                placeholder="Enter a brief job description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-time">Time Frame</label>
                            <textarea class="form-control" id="job-time" name="time"
                                placeholder="Is this job full-time, part-time, or one-time?"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-benefits">Job Benefits Include</label>
                            <textarea class="form-control" id="job-benefits" name="benefits"
                                placeholder="Enter a brief description of the benefits"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-salary">Job Salary</label>
                            <textarea class="form-control" id="job-salary" name="salary"
                                placeholder="Enter the job salary"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-location">Job Location</label>
                            <textarea class="form-control" id="job-location" name="location"
                                placeholder="Where is this job?"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-experience">Purr-furred Experience</label>
                            <textarea class="form-control" id="job-experience" name="experience"
                                placeholder="What experience would you like the canidate to have"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Post Job!</button>
                    </fieldset>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postJob = $("form.job-post");
        const titleInput = $("input#title-input");
        const jobDescription = $("textarea#job-description");
        const jobTime = $("textarea#job-time");
        const jobBenefits = $("textarea#job-benefits");
        const jobSalary = $("textarea#job-salary");
        const jobLocation = $("textarea#job-location");
        const jobExperience = $("textarea#job-experience");



        // When the form is submitted, we validate there's a title and body entered
        postJob.on("submit", function (event) {
            event.preventDefault();

            let postData = {
                title: titleInput.val().trim(),
                description: jobDescription.val().trim(),
                time: jobTime.val().trim(),
                benefits: jobBenefits.val().trim(),
                salary: jobSalary.val().trim(),
                location: jobLocation.val().trim(),
                experience: jobExperience.val().trim()
            };
            console.log(postData)

            if (!postData.title || !postData.description || !postData.time || !postData.benefits || !postData.salary || !postData.location || !postData.experience) {
                return;
            }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData);
            titleInput.val("");
            jobDescription.val("");
            jobTime.val("");
            jobBenefits.val("");
            jobSalary.val("");
            jobLocation.val("");
            jobExperience.val("");
        });

        // sendPost does a post to our "api/jobs" route and if successful, redirects us the the jobs page
        function sendPost(postData) {
            $.post("/api/jobs", postData)
                .then(function () {
                    window.location.replace("/findjobs");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script>