{{> navbar user}}

<div class="container">
    <div class="jumbotron  see-post-jumbotron">
        <div class="container">
            <h1 class="display-4">Job Postings</h1>
            <p>Click <a href="/viewpost/{{id}}">here</a> to view job applicants!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" id="userposts">
            <div id="job-posts">
                {{#each jobs}}
                <div class="job-post-card card mb-3 shadow rounded">
                    <div class="card-header">
                        <h4 class="job-post-text extra-margin">{{title}}</h4>
                        <br>
                        <h5>Job Description</h5>
                        <p class="card-text extra-margin">{{description}}</p>
                        <h5>Time Commitment</h5>
                        <p class="card-text extra-margin">{{time}}</p>
                        <h5>Benefits Provided</h5>
                        <p class="card-text extra-margin">{{benefits}}</p>
                        <h5>Salary</h5>
                        <p class="card-text extra-margin">{{salary}}</p>
                        <h5>Location</h5>
                        <p class="card-text extra-margin">{{location}}</p>
                        <h5>Koalafications Needed</h5>
                        <p class="card-text extra-margin">{{experience}}</p>
                        <a class="btn view-post-btn" href="/viewpost/{{id}}">View Post</a>
                    </div>
                </div>
                {{/each}}
            </div>



        </div>

    </div>